* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*light mode*/
:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
    --outline-color: 10px solid rgba(40, 43, 52, 0.5);
    --backgroud-color: var(--light);
}

/*dark mode*/
.dark {
    --outline-color: 10px solid rgba(241, 241, 241, 0.2);
    --backgroud-color: var(--dark);
    animation: slide-in 0.2s linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--backgroud-color);
    transition: background 0.5s;
}

#label {
    width: 85px;
    height: auto;
    border-radius: 50px;
    padding: 3px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background: var(--label);
    position: relative;
    overflow: visible;
}

#label img {
    width: 32px;
}

#ball {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    background: var(--light);
    position: absolute;
    transition: all 0.2s;
    z-index: 1;
    animation: slide-out 0.2s linear;
    animation-fill-mode: backwards;
}

.dark #ball {
    animation: slide-in 0.2s linear;
    animation-fill-mode: forwards;
}

#ball:hover {
    outline: var(--outline-color);
}

.text {
    justify-content: center;
    font-size: 32px;
    font-weight: normal;
    margin-top: 36px;
    color: var(--dark);
}

.dark .text {
    color: var(--light);
}

.invisible {
    display: none;
}

@keyframes slide-in {
    from{left: 3px;}
    to{left: 50px;}
}

@keyframes slide-out {
    from{left: 50px;}
    to{left: 3px;}
}